* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: normal;
  font-family: Fira code;
  font-style: normal;
  font-display: swap;
  src:
  url("./assets/FiraCode-VF-FR.ttf") format("ttf");
}

body {
  background-color: rgb(40, 40, 40);
  font-family: Fira code;
  font-size: 1rem;
}

.wrapper {
  width: 50rem;
  max-width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border: 0.2rem solid rgb(50, 48, 47);
  border-radius: 0.25rem;
}

.slider {
  height: fit-content;
  overflow: hidden;
}

.slides {
  width: 600%;
  display: flex;
  flex-direction: row;
}

.slides {
  width: 600%;
  display: flex;
  flex-direction: row;
}

.slide {
  width: 16.666%;
  text-align: center;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.slide img {
  pointer-events: none;
  max-width: 100%;
}

.textarea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.2rem;
  color: rgb(210, 191, 117);
}

.textarea > label {
  display: none;
}


.text {
  opacity: 0;
  line-height: 0;
  transition: 0.7s linear;
  overflow: hidden;
}

.nav {
  left: 50%;
  border: 0.15rem solid rgb(50, 48, 47);
  border-radius: 1rem;
  display: flex;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.nav__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 3rem;
}

.nav__label-indicator {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(107, 100, 80);
  transition: 0.25s ;
}

.nav__label:hover > .nav__label-indicator {
  background-color: rgb(218, 169, 87);
}

.i3 {
  margin-top: -45%;
}

.l3{
  margin-left: 84%;
  margin-top: 45%;
  display: inline-flex;
  width: fit-content;
  cursor: progress;
}


input[name='rb'] {
  display: none;
}
