* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: normal;
  font-family: Fira code;
  font-style: normal;
  font-display: swap;
  src:
  url("./assets/FiraCode-VF-FR.ttf") format("ttf");
}

body {
  background-color: rgb(40, 40, 40);
  font-family: Fira code;
  font-size: 1rem;
  overflow-x: hidden;
}

.wrapper {
  width: 50rem;
  max-width: 85%;
  margin: 1rem auto;
  padding: 1rem;
  border: 0.2rem solid rgb(50, 48, 47);
  border-radius: 0.25rem;
}

.slider {
  height: fit-content;
  overflow: hidden;
}

.slides {
  width: 600%;
  display: flex;
  flex-direction: row;
}

.slides {
  width: 600%;
  display: flex;
  flex-direction: row;
}

.slide {
  width: 16.666%;
  text-align: center;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.slide img {
  pointer-events: none;
  max-width: 100%;
}

.textarea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.2rem;
  color: rgb(210, 191, 117);
}

.textarea > label {
  display: none;
}


.text {
  opacity: 0;
  line-height: 0;
  transition: 0.7s linear;
  overflow: hidden;
}

.nav {
  left: 50%;
  border: 0.15rem solid rgb(50, 48, 47);
  border-radius: 1rem;
  display: flex;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.nav__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 3rem;
}

.nav__label-indicator {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(107, 100, 80);
  transition: 0.25s ;
}

.nav__label:hover > .nav__label-indicator {
  background-color: rgb(218, 169, 87);
}

.i3 {
  margin-top: -44%;
}

.l3{
  margin-left: 84%;
  margin-top: 43%;
  line-height: 0;
  display: inline-flex;
  width: fit-content;
  cursor: url('./assets/wrong-finger.png') 12 3, auto;
  /* cursor: pointer; */
}


input[name='rb'] {
  display: none;
}

@media screen and (max-width: 768px) {
  .textarea {
    flex-direction: column-reverse;
    align-items: center;
  }
  .nav {
    margin-left: 0;
  }

  .wrapper {
    max-width: 85vw;
  }
}

@keyframes animate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

#rb1:checked ~ .slides > .slide__first {
  margin-left: 0;
}
#rb1:checked ~ .text-slides .nav > label[for='rb1'] > .nav__label-indicator {
  background-color: rgb(218, 169, 87);
  animation: animate 0.7s;
  animation-timing-function: cubic-bezier(0.13, 0.32, 0.59, 1.39);
  width: 1.6rem;
}
#rb1:not(:checked) ~ .text-slides > .textarea label[for='rb1'] ~ .nav {
  display: none;
}
#rb1:checked ~ .text-slides > .textarea label[for='rb1'] ~ .text {
  opacity: 1;
  line-height: 1.2rem;
  overflow: visible;
}
#rb1:checked ~ .text-slides > .textarea label[for='rb1'] ~ .nav {
  display: flex;
}

#rb2:checked ~ .slides > .slide__first {
  margin-left: -16.66%;
}
#rb2:checked ~ .text-slides .nav > label[for='rb2'] > .nav__label-indicator {
  background-color: rgb(218, 169, 87);
  animation: animate 0.7s;
  animation-timing-function: cubic-bezier(0.13, 0.32, 0.59, 1.39);
  width: 1.6rem;
}
#rb2:not(:checked) ~ .text-slides > .textarea label[for='rb2'] ~ .nav {
  display: none;
}
#rb2:checked ~ .text-slides > .textarea label[for='rb2'] ~ .text {
  opacity: 1;
  line-height: 1.2rem;
  overflow: visible;
}
#rb2:checked ~ .text-slides > .textarea label[for='rb2'] ~ .nav {
  display: flex;
}

#rb3:checked ~ .slides > .slide__first {
  margin-left: -33.33%;
}
#rb3:checked ~ .text-slides .nav > label[for='rb3'] > .nav__label-indicator {
  background-color: rgb(218, 169, 87);
  animation: animate 0.7s;
  animation-timing-function: cubic-bezier(0.13, 0.32, 0.59, 1.39);
  width: 1.6rem;
}
#rb3:not(:checked) ~ .text-slides > .textarea label[for='rb3'] ~ .nav {
  display: none;
}
#rb3:checked ~ .text-slides > .textarea label[for='rb3'] ~ .text {
  opacity: 1;
  line-height: 1.2rem;
  overflow: visible;
}
#rb3:checked ~ .text-slides > .textarea label[for='rb3'] ~ .nav {
  display: flex;
}

#rb4:checked ~ .slides > .slide__first {
  margin-left: -50%;
}
#rb4:checked ~ .text-slides .nav > label[for='rb4'] > .nav__label-indicator {
  background-color: rgb(218, 169, 87);
  animation: animate 0.7s;
  animation-timing-function: cubic-bezier(0.13, 0.32, 0.59, 1.39);
  width: 1.6rem;
}
#rb4:not(:checked) ~ .text-slides > .textarea label[for='rb4'] ~ .nav {
  display: none;
}
#rb4:checked ~ .text-slides > .textarea label[for='rb4'] ~ .text {
  opacity: 1;
  line-height: 1.2rem;
  overflow: visible;
}
#rb4:checked ~ .text-slides > .textarea label[for='rb4'] ~ .nav {
  display: flex;
}

#rb5:checked ~ .slides > .slide__first {
  margin-left: -66.66%;
}
#rb5:checked ~ .text-slides .nav > label[for='rb5'] > .nav__label-indicator {
  background-color: rgb(218, 169, 87);
  animation: animate 0.7s;
  animation-timing-function: cubic-bezier(0.13, 0.32, 0.59, 1.39);
  width: 1.6rem;
}
#rb5:not(:checked) ~ .text-slides > .textarea label[for='rb5'] ~ .nav {
  display: none;
}
#rb5:checked ~ .text-slides > .textarea label[for='rb5'] ~ .text {
  opacity: 1;
  line-height: 1.2rem;
  overflow: visible;
}
#rb5:checked ~ .text-slides > .textarea label[for='rb5'] ~ .nav {
  display: flex;
}

#rb0:checked ~ .slides > .slide__first {
  margin-left: -83.33%;
}
#rb0:checked ~ .text-slides .nav > label[for='rb0'] > .nav__label-indicator {
  background-color: rgb(218, 169, 87);
  animation: animate 0.7s;
  animation-timing-function: cubic-bezier(0.13, 0.32, 0.59, 1.39);
  width: 1.6rem;
}
#rb0:not(:checked) ~ .text-slides > .textarea label[for='rb0'] ~ .nav {
  display: none;
}
#rb0:checked ~ .text-slides > .textarea label[for='rb0'] ~ .text {
  opacity: 1;
  line-height: 1.2rem;
  overflow: visible;
}
#rb0:checked ~ .text-slides > .textarea label[for='rb0'] ~ .nav {
  display: flex;
}
